{% extends 'base.html' %}

{% block section %}
<div class="btn-group" role="group" style="margin-left:40%;margin-bottom:1%">
  <button onclick="location.href = '/self_data';" type="button" class="btn btn-default">Perfil</button>
  <button onclick="location.href = '/self_lists';" type="button" class="btn btn-default">Listas</button>
  <button onclick="location.href = '/self_profiles';" type="button" class="btn btn-default">Perfiles</button>
</div>

<button class="btn btn-circle btn-circle-custom" data-toggle="modal" data-target="#create_list_modal"><i class="fa fa-list-ol"></i></button>
<button class="btn btn-circle btn-circle-custom-top " data-toggle="modal" data-target="#create_profile_modal"><i class="fa fa-user-plus"></i></button>
<section>{% block content %}{% endblock %}</section>
<div class="modal fade" id="create_list_modal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel">
    <div class="modal-dialog" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span
                        aria-hidden="true">&times;</span></button>
                <h4 class="modal-title" id="myModalLabel">Create List</h4>
            </div>
            {% csrf_token %}
            <div class="modal-body modal-body-custom">
                <div class="form-create-gift">
                    <div class="input-form">
                        <p>Perfil: </p><select name="profiles" id="profiles" class="selectpicker">
                        {% for profile in profiles %}
                        <option value="{{profile.pk}}">{{profile.name}}</option>
                        {% endfor %}
                    </select>
                    </div>
                    <div class="input-form">
                        <p>Name: </p><input type="text" name="name" id="name">
                    </div>
                    <div class="input-form">
                        <p>Visib: </p>
                        <select name="visibility" id="visibility" class="selectpicker">
                            <option value="PUB">Publica</option>
                            <option value="PRIV">Privada</option>
                        </select>
                    </div>
                    <p>Caracteristicas: </p>
                    <input id="caract" type="text"name="caract">
                </div>
            </div>
            <div class="panel-footer">
                <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
                <button type="button" class="btn btn-primary" id="upload_list" data-dismiss="modal">Save changes</button>
            </div>
        </div>
    </div>
</div>
<div class="modal fade" id="create_profile_modal" tabindex="-1" role="dialog" aria-labelledby="CreateListModal">
    <div class="modal-dialog" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span
                        aria-hidden="true">&times;</span></button>
                <h4 class="modal-title" id="CreateListModal">Create Profile</h4>
            </div>
            {% csrf_token %}
            <div class="modal-body modal-body-custom">
                <div class="form-create-gift">
                    <div class="input-form">
                        <p>Name: </p><input type="text" name="name_profile" id="name_profile">
                    </div>

                    <div class="input-form">
                        <p>Edad: </p><input type="number" name="age_profile" id="age_profile">
                    </div>
                    <div class="input-form">
                        <p>Por defecto: </p><input type="checkbox" name="is_default" id="is_default">
                    </div>
                    <div class="input-form">
                        <p>Genero: </p>
                        <select name="gender_profile" id="gender_profile" class="selectpicker">
                            <option value="MUJ">Mujer</option>
                            <option value="HOMB">Hombre</option>
                        </select>
                    </div>
                    <p>Caracteristicas: </p>
                    <input id="topic_profile" type="text"name="topic_profile">
                </div>
            </div>
            <div class="panel-footer">
                <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
                <button type="button" class="btn btn-primary" id="upload_profile" data-dismiss="modal">Save changes</button>
            </div>
        </div>

    </div>
</div>
<style>
    .well{
        padding:10px;
        padding-left:20px;
    }
</style>
<!--{% for profile in profiles %}
<div class="well">
    <p> Name:{{profile.name}}</p>
    <p>Age:{{profile.age}}</p>
    <p>Gender: {{profile.gender}}</p>
    {% for like in likes_user.all %}
    {% if like.profile == profile %}
    <div class="like">{{like.like}}</div>
    {% endif %}
    {% endfor %}
    <button role="button" class="btn btn-primary"> Editar </button>
</div>
{% endfor %}-->
{% endblock %}