{% load staticfiles %}
<!DOCTYPE html>
<html lang="es">
<head>
    <meta charset="UTF-8">
    <title>{% block title %} Gifty!{% endblock %}</title>
    <link rel="stylesheet" href="{% static 'css/bootstrap.css' %}">
    <link rel="stylesheet" href="{% static 'css/bootstrap-theme.css' %}">
    <link rel="stylesheet" type="text/css" href="{% static 'css/jquery-ui.css' %}">
    <link rel="stylesheet" href="{% static 'css/jquery.tagit.css' %}">
    <link rel="stylesheet" href="{% static 'css/mystyles.css' %}">
    <link rel="stylesheet" href="{% static 'css/bootstrap-select.css' %}">
    <!-- jQuery library -->
    <script src="{% static 'js/jquery.js'%}"></script>
    <script src="{% static 'js/jquery-ui.js'%}" type="text/javascript" charset="utf-8"></script>
    <script src ="{% static 'js/tag-it.js'%}"></script>
    <script src ="{% static 'js/myfunctions.js'%}"></script>
    <script src ="{% static 'js/bootstrap-select.js'%}"></script>
    <script src ="{% static 'js/i18n/defaults-*.min.js'%}"></script>


    <!-- Latest compiled JavaScript -->
    <script src="{% static 'js/bootstrap.js' %}"></script>
</head>
<body>
<nav class="navbar navbar-default navbar-fixed-top" style="height:7%;padding-bottom:0">
    {% block nav %}
    <div class="navbar-header">
        <a class="navbar-brand" href="{% url 'home' %}">HOME</a>
    </div>
    <ul class="nav navbar-nav">
        {% if user.is_authenticated %}
        <li><a href="{% url 'home' %}">HOME</a></li>
        <li> <a href="{% url 'profile' %}">Perfil</a></li>
        <li><a href="{% url 'self_data' %}">SelfData</a></li>
        {% else %}
        <li><a href="{% url  'users_create' %}">New User</a></li>
        <li class="active"><a href="{% url 'login' %}">Entrar</a></li>
        {% endif %}
    </ul>
    {% if user.is_authenticated %}
    <ul class="nav navbar-nav navbar-right">
        <li><select class="selectpicker selectpicker-custom">
            {% for profile in profiles %}
            <option value="{{profile.pk}}">{{profile.name}}</option>
            {% endfor %}
        </select></li>
        <li><a href="{% url  'logout' %}">Logout</a></li>
    </ul>
    {% endif %}
    {% endblock %}
</nav>
<div class="container" style="margin-top:5%">

    <section>
        {% block section %}{% endblock %}
    </section>
    <hr>
    <small>{% block footer %}Gifty!{% endblock %}</small>
</div>
    <div class="modal fade" id="create_gift_modal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" id="ModalProfile">
        <div class="modal-dialog" role="document">
            <div class="modal-content">
                <div class="modal-header">
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span
                            aria-hidden="true">&times;</span></button>
                    <h4 class="modal-title" id="myModalLabel">Create Gift</h4>
                </div>
                <form method="post">
                    {% csrf_token %}
                <div class="modal-body">
                    <table>
                        {{form_create.as_table}}
                    </table>
                </div>
                     <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
                    <button type="submit" class="btn btn-primary">Save changes</button>
                </form>
            </div>
        </div>
    </div>
</body>
</html>