{% extends 'base.html' %}

{% block section %}
<img src="{{gift.photo.url}}" alt="{{gift.photo.name}}" height="300">
<br>
<a href="{% url 'other_data' gift.owners.pk %}" style="display:block">{{gift.owners.username}}</a>
<p style="display:inline">Hola! </p><p  style="display:inline">{{user.username}} </p>
<p>Deja un comentario y no te olvides de puntuar!</p>

<form>
    {% csrf_token %}
    {{form_coment.as_table}}
    <button formmethod="post" class="btn btn-primary">Comenta!</button>
</form>
{% for comment in comments %}
    <p>{{comment.comment}}</p>
    <p>{{comment.user}}</p>
{% endfor %}
<style>
    input{
        border:1px solid #39DFE4;
        border-radius:15px;

    }
    input:focus{
        border-color:#3986E4
    }
</style>
{% endblock %}