{% extends 'base.html' %}

{% block section %}
<div class="well detail-photo">
    <img src="{{gift.photo.url}}" alt="{{gift.photo.name}}" width="300">
    <br>
    <div class="user-photo">
       <p>User: <a href="{% url 'other_data' gift.owners.pk %}" style="display:inline">{{gift.owners.username}}</a></p>
            <p>Profile: <a href="{% url 'other_data' gift.owners.pk %}" style="display:inline"> {{gift.profile.name}}</a></p>
    </div>
</div>
<p style="display:inline">Hola! </p><p  style="display:inline">{{user.username}} </p>
<p>Deja un comentario y no te olvides de puntuar!</p>

<form style="margin-bottom:10px">
    {% csrf_token %}
    {{form_coment.as_table}}
    <button formmethod="post" class="btn btn-primary">Comenta!</button>
</form>
{% for comment in comments %}
<div class="comment">
    <a href="{% url 'other_data' comment.user.pk %}">{{comment.user}}</a>
    <p>{{comment.comment}}</p>
</div>
{% endfor %}
{% endblock %}