{% extends 'base.html' %}
{% block section %}
<div class="row">
    {% for gift in gifts_list %}
    {% if forloop.counter0|divisibleby:4%}
</div>
<div class="row">
    {% endif %}
    <div class="col-md-3">
        <div class="well well-custom" style="display:inline-block;">
            <div class="img-home"><a href="{% url 'detail_gift' gift.pk %}"><img src="{{ gift.photo.url }}" alt="{{ gift.photo.url }}" width="250" style="display:block" class="img-home"></a><button id="{{gift.pk}}"class="btn btn-primary button-img">+</button></div>
            <p>User: <a href="{% url 'other_data' gift.owners.pk %}" style="display:inline">{{gift.owners.username}}</a></p>
            <p>Profile: <a href="{% url 'other_data' gift.owners.pk %}" style="display:inline"> {{gift.profile.name}}</a></p>
        </div>
    </div>
    {% endfor %}
    <button type="button" class="btn btn-primary btn-lg" data-toggle="modal" data-target="#create_gift_modal" style="position:fixed">
        <span class="glyphicon glyphicon-upload"></span>
    </button>
    <div class="modal fade" id="create_gift_modal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel">
        <div class="modal-dialog" role="document">
            <div class="modal-content">
                <div class="modal-header">
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
                    <h4 class="modal-title" id="myModalLabel">Create Gift</h4>
                </div>
                <div class="modal-body">
                    {{form_create.as_table}}
                </div>
                <div class="modal-footer" style="padding:15px">
                    <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
                    <button type="button" class="btn btn-primary">Save changes</button>
                </div>
            </div>
        </div>
    </div>
    {% endblock %}