{% extends 'base.html' %}
{% block section %}

<div class="row">
    {% for gift in gifts_list %}
    {% if forloop.counter0|divisibleby:4%}
</div>
<div class="row">
    {% endif %}
    <div class="col-md-3">
        <div class="well well-custom" style="display:inline-block;">


            <div class="img-home">
                <a href="{% url 'detail_gift' gift.pk %}">
                    <img class="img-custom" src="{{ gift.photo.url }}" alt="{{ gift.photo.url }}"
                         style="display:block;border-radius:4px 4px 0 0">
                </a>
                <div class="dropdown-img">
                    <button class="btn btn-default btn-custom-image" type="button" aria-hidden="true"
                            style="display:inline-block">
                        <i class="fa fa-gift" style="font-size:1.2em"></i>
                    </button>
                    <div class="dropdown" style="display:inline-block">
                        <button class="btn btn-default dropdown-toggle btn-custom-image" type="button"
                                id="dropdownMenu1" data-toggle="dropdown" aria-haspopup="true" aria-expanded="true">
                            <i class="fa fa-plus"></i>
                        </button>

                        <ul class="dropdown-menu" id="{{gift.pk}}" aria-labelledby="dropdownMenu1">
                            {% for list in lists %}
                            <li><p class="profile-gift" id="{{list.pk}}">{{list.name}}</p></li>
                            {% endfor %}
                        </ul>
                    </div>
                </div>
                <div class="top-img">
                    <button role="button" class="btn btn-default btn-custom-image" style="font-weight:bold">Send <i
                            class="fa fa-paper-plane" aria-hidden="true"></i></button>
                </div>
            </div>
            <p>User: <a href="{% url 'other_data' gift.owners.pk %}" style="display:inline">{{gift.owners.username}}</a>
            </p>
            <p>Profile: <a href="{% url 'other_data' gift.owners.pk %}" style="display:inline">
                {{gift.profile.name}}</a></p>
        </div>
    </div>
    {% endfor %}
    <button type="button" class="btn btn-default btn-circle btn-circle-custom" data-toggle="modal"
            data-target="#create_gift_modal">
        <span class="fa fa-plus"></span>
    </button>

    <div class="modal fade" id="create_gift_modal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel">
        <div class="modal-dialog" role="document">
            <div class="modal-content">
                <div class="modal-header">
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span
                            aria-hidden="true">&times;</span></button>
                    <h4 class="modal-title" id="myModalLabel">Create Gift</h4>
                </div>
                {% csrf_token %}
                <div class="modal-body modal-body-custom">
                    <div class="form-create-gift">
                        <div class="input-form">
                            <p>Perfil: </p><select name="lists" id="lists" class="selectpicker">
                            {% for list in lists %}
                            <option value="{{list.pk}}">{{list.name}}</option>
                            {% endfor %}
                        </select>
                        </div>
                        <div class="input-form">
                            <p>Name: </p><input type="text" name="name" id="name">
                        </div>
                        <div class="input-form">
                            <p>Foto: </p>
                            <input type="file" name="photo" id="photo">
                        </div>
                        <div class="input-form">
                            <p>Precio</p>
                            <input type="number" id="precio">
                        </div>
                        <div class="input-form">
                            <p>Visib: </p>
                            <select name="visibility" id="visibility" class="selectpicker">
                                <option value="PUB">Publica</option>
                                <option value="PRIV">Privada</option>
                            </select>
                        </div>
                        <div class="input-form">
                            <p>Tienda: </p>
                            <input type="text" id="tienda" name="tienda">
                        </div>
                        <div class="input-form">
                            <p>Url Gift: </p>
                            <input type="text" id="url" name="url">
                        </div>
                        <p>Descripción: </p>
                        <textarea type="text" rows="5" id="description"></textarea>

                        <p>Caracteristicas: </p>
                        <input id="caract" type="text" name="caract">
                    </div>
                </div>
                <div class="panel-footer">
                    <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
                    <button type="button" class="btn btn-primary" id="upload" data-dismiss="modal">Save changes</button>
                </div>
            </div>
        </div>
    </div>
    {% endblock %}