{% extends 'base.html' %}
{% block sect%}
{% for error in errors %}
<p>{{error}}</p>
{% endfor %}
{% load staticfiles %}
<div class="login">
    <img src="{% static 'img/photodune-6745585-modern-creative-workspace-m.jpg'%}" alt="" style="margin-bottom:0">
    <div class="panel-login">
        <a class="btn btn-block btn-social btn-facebook" style="margin-bottom:5px">Log in with facebook
        </a>
        <form method="post">
            {% csrf_token %}
            <table>
                {{ form_user.as_table }}
            </table>
            <div>
                <button class="btn btn-primary">Entrar</button>
            </div>
        </form>
    </div>
    <div class="login-logo">
        <img src="{% static  'img/LogoGifty.png'%}" alt="">
    </div>
</div>
{% endblock %}