{% extends 'SelfData.html' %}

{% load staticfiles %}
{% block content %}
<div class="row">
    <div class="col-md-4">
        <div class="well well-data" style="padding-top:10px;padding-left:10px;">
            <img class="img-my-data" src="{{user_photo.0.photo.url}}" alt="" >
            <div class="panel panel-default"  style="margin-top:15px">
                <div class="panel-heading" style="background-color:#1FB8A9;color:white">
                    Mi descripción
                </div>
                <div class="panel-body">
                   {{user_photo.0.description}}
                </div>
            </div>
        </div>
    </div>
    <div class="lists-data">
        {% for list in gifts_list %}
        <div class="col-md-3">
            <div class="panel panel-default">
                <div class="panel-heading" style="background-color:#1FB8A9;color:white">
                    {{list.name}}
                </div>
                <div class="panel-body">
                    {% if list.gifts.all %}
                    <img src="{{ list.gifts.all.0.photo.url }}" alt="{{ list.gifts.all.0.photo.url }}"
                         height="200">
                    {% else %}
                    <p>No hay regalos</p>
                    {% endif %}
                </div>
            </div>
        </div>
        {% endfor %}
    </div>
</div>
{% endblock %}