{% extends 'base.html' %}

{% block section %}
<div class="row">
    <div class="col-md-4">
        <div class="well well-data" style="padding-top:10px;padding-left:10px;">
            <img src="{{other_user.0.photo.url}}" alt="" width="340">
            <div class="panel panel-default"  style="margin-top:15px">
                <div class="panel-heading" style="background-color:#1FB8A9;color:white">
                    {{other_user.0.user.username}}
                </div>
                <div class="panel-body">
                    {{other_user.0.description}}
                </div>
            </div>
        </div>
    </div>
</div>

<div class="lists-data">
    {% for list in lists %}
    <div class="row">
    <div class="col-md-8">
        <div class="panel panel-default">
            <div class="panel-heading" style="background-color:#1FB8A9;color:white">
                {{list.name}}
                <button class="btn btn-default" style="position:absolute;top:2%;right:3% ">Seguir</button>
            </div>
            <div class="panel-body">
                <div class="jcarousel" >
                    <ul>
                        {% for gift in list.gifts.all %}
                        <li><a href="{% url 'detail_gift' gift.pk %}" style="display:inline-block"><img src="{{ gift.photo.url }}" alt="{{ gift.photo.url }}" height="150" ></a></li>
                        {% empty %}
                        No hay regalos!
                        {% endfor %}
                    </ul>
                    <a class="jcarousel-control-prev inactive" href="#" data-jcarouselcontrol="true"><</a>
                    <a href="#" class="jcarousel-control-next" data-jcarouselcontrol="true">></a>
                </div>
            </div>
        </div>
    </div>
        </div>
    {% endfor %}
</div>
{% endblock %}