{% extends 'base.html' %}

{% block section %}
{% for list in gifts_list %}
<div class="panel panel-default">
    <div class="panel-heading">
        <h3>{{list.name}}</h3>
    </div>
    <div class="panel-body">
        {% if not list.gifts.all %}
            No hay regalos!
        {% endif %}
        {% for gift in list.gifts.all %}
        <a href="{% url 'detail_gift' gift.pk %}" style="display:inline-block"><img src="{{ gift.photo.url }}" alt="{{ gift.photo.url }}" height="300" ></a>
        {% endfor %}
    </div>
</div>
{% endfor %}
{% for profile in profiles %}
<div class="well">
    <p>{{profile.name}}</p>
    <p>{{profile.age}}</p>
    <p>{{profile.gender}}</p>
</div>
{% endfor %}
<style>
    .well{
    padding-left:20px
    }
</style>
{% endblock %}